#navigation {
    position: absolute;
    width: 100%;
    nav {
        ul {
            display: flex;
            justify-content: start;
            list-style: none;
            li {
                padding: 20px 40px;
                transition: all .5s ease-in-out;
                &:hover {
                    transform: translateY(6px);
                }
                a {
                    text-decoration: none;
                    color: #E7F6F2;
                }
            }
        }
    }
}