#portfolioPreview {
    margin: 60px 0;
    text-align: center;
    scroll-behavior: smooth;

    .portfolioPrevTitle {
        h2 {
            margin-bottom: 20px;
            font-size: 3em;
        }
    }

    .portfolioPreviewImgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 40%;
            display: inline;
        }
    }

    .seeMoreContainer {

        .btn {
            transition: all .3s ease-in-out;
            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}