@media screen and (max-width: 810px) {
    #top .topText h1 {
        font-size: 3em;
    }

    #showreel h2 {
        font-size: 2em;
        width: 100%;
        text-align: center;
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    #aboutMe {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutMePhoto img {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    #navigation ul {
        flex-direction: column;
        align-items: center;
        font-size: .7em;
    }

    #navigation nav ul li {
        padding: 12px 20px;
    }
    
    #top .topText h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 480px) {
    #top {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .topText {
        font-size: .6em;
    }
    
    #sidebar {
        display: none;
    }

    #portfolioPreview .portfolioPrevTitle h2 {
        font-size: 1.5em;
    }

    #portfolioPreview .portfolioPreviewImgs {
        flex-direction: column;
        align-items: center;
    }

    #portfolioPreview .portfolioPreviewImgs img {
        margin: 15px 0;
        width: 80%;
    }

    #portfolioPreview .seeMoreContainer button {
        width: 30%;
        padding: 10px;
    }

    #showreel h2 {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }

    #showreel iframe {
        height: 50vh;
    }

    #aboutMe #aboutMeText {
        width: 100%;
    }

     /*CONTACT PAGE*/ 

    #navigation {
        position: static;
        margin-bottom: 50px;
    }

    .packages {
        display: flex;
        flex-direction: column;
    }

    #packagesContainer {
        height: auto;
    }

    .packageItem {
        height: 50vh;
    }
}