#showreel {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 3em;
        margin: 0 auto;
        padding: 20px 0;
        width: 20%;
    }

    iframe {
        margin: 0 auto;
        width: 100%;
    }

    .seeMoreBtn {
        @include standardBtn(20px 40px, #000);
        color: #fff;
        margin-top: 20px;
        &:hover {
            background: #fff;
            color: #000;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}