#sidebar {
    @extend %centerFlexColumn;
    position: fixed;
    right: 0;
    height: 100vh;
    
    a {
        transform: rotate(90deg);
        margin: 100% 0;
        text-decoration: none;
        color: #fff;
        transition: all .7s ease-in-out;
        &:hover {
            transform: translateX(-10px);
        }
    }
}