#top {
    @extend %centerFlexColumn;
    padding: 10px 0 0 20px;
    height: 100vh;

    .topAvatar {
        img {
            margin-bottom: 10px;
            border-radius: 50%;
            width: 150px;
        }
    }

    .topText {
        @extend %centerFlexColumn;
        h1 {
            font-size: 4em;
        }

        p {
            width: 60%;
            text-align: center;
            font-size: 1.2em;
        }
    }
}